<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<RollingFile name="All" 
				fileName="C:/Personal/TestingZone/Logs/All.log" 
				filePattern="C:/Personal/TestingZone/Logs/$${date:yyyy-MM-dd-HH}/All-%d{yyyy-MM-dd-HH}-%i.log">
    		<PatternLayout>
        		<Pattern>[%d{ISO8601}] %p [%t] (%F:%L) %m%n</Pattern>
      		</PatternLayout>
			<Policies>
        		<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        		<SizeBasedTriggeringPolicy size="10 MB"/>
        		<OnStartupTriggeringPolicy/>
      		</Policies>
		</RollingFile>
	
	
		<RollingFile name="AppConfig" 
				fileName="C:/Personal/TestingZone/Logs/AppConfig.log" 
				filePattern="C:/Personal/TestingZone/Logs/$${date:yyyy-MM-dd-HH}/AppConfig-%d{yyyy-MM-dd-HH}-%i.log">
    		<PatternLayout>
        		<Pattern>[%d{ISO8601}] %p [%t] (%F:%L) %m%n</Pattern>
      		</PatternLayout>
			<Policies>
        		<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        		<SizeBasedTriggeringPolicy size="10 MB"/>
        		<OnStartupTriggeringPolicy/>
      		</Policies>
		</RollingFile>
	
		<RollingFile name="Pool" 
				fileName="C:/Personal/TestingZone/Logs/Pool.log" 
				filePattern="C:/Personal/TestingZone/Logs/$${date:yyyy-MM-dd-HH}/Pool-%d{yyyy-MM-dd-HH}-%i.log">
    		<PatternLayout>
        		<Pattern>[%d{ISO8601}] %p [%t] (%F:%L) %m%n</Pattern>
      		</PatternLayout>
			<Policies>
        		<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
        		<SizeBasedTriggeringPolicy size="10 MB"/>
        		<OnStartupTriggeringPolicy/>
      		</Policies>
		</RollingFile>
	
		<Routing name="TaskLogContextRouting">
			<Routes pattern="$${ctx:TaskLogContext}">
  				<Route>
					<RollingFile name="Task-${ctx:TaskLogContext}" 
							fileName="C:/Personal/TestingZone/Logs/Tasks/Task-${ctx:TaskLogContext}.log" 
							filePattern="C:/Personal/TestingZone/Logs/$${date:yyyy-MM-dd-HH}/Tasks/Task-${ctx:TaskLogContext}-%d{yyyy-MM-dd-HH}-%i.log">
			    		<PatternLayout>
    				    		<Pattern>[%d{ISO8601}] %p [%t] [%X{TaskLogContext}] (%F:%L) %m%n</Pattern>
				      	</PatternLayout>
						<Policies>
			        		<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			        		<SizeBasedTriggeringPolicy size="10 MB"/>
			        		<OnStartupTriggeringPolicy/>
			      		</Policies>
					</RollingFile>
				</Route>
			 	<Route ref="BlackHole" key="$${ctx:TaskLogContext}"/>
			</Routes>
		</Routing> 

		<Routing name="AllTaskLogContextRouting">
			<Routes pattern="$${ctx:TaskLogContext}">
  				<Route>
					<RollingFile name="Task-${ctx:TaskLogContext}" 
							fileName="C:/Personal/TestingZone/Logs/Tasks/Task-All.log" 
							filePattern="C:/Personal/TestingZone/Logs/$${date:yyyy-MM-dd-HH}/Tasks/Task-All-%d{yyyy-MM-dd-HH}-%i.log">
			    		<PatternLayout>
    				    		<Pattern>[%d{ISO8601}] %p [%t] [%X{TaskLogContext}] (%F:%L) %m%n</Pattern>
				      	</PatternLayout>
						<Policies>
			        		<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			        		<SizeBasedTriggeringPolicy size="10 MB"/>
			        		<OnStartupTriggeringPolicy/>
			      		</Policies>
					</RollingFile>
				</Route>
			 	<Route ref="BlackHole" key="$${ctx:TaskLogContext}"/>
			</Routes>
		</Routing> 

		<Routing name="ThreadLogContextRouting">
			<Routes pattern="$${ctx:ThreadLogContext}">
  				<Route>
					<RollingFile name="Thread-${ctx:ThreadLogContext}" 
							fileName="C:/Personal/TestingZone/Logs/Thread/Thread-${ctx:ThreadLogContext}.log" 
							filePattern="C:/Personal/TestingZone/Logs/$${date:yyyy-MM-dd-HH}/Thread/Thread-${ctx:ThreadLogContext}-%d{yyyy-MM-dd-HH}-%i.log">
			    		<PatternLayout>
    				    		<Pattern>[%d{ISO8601}] %p [%t] [%X{TaskLogContext}] (%F:%L) %m%n</Pattern>
				      	</PatternLayout>
						<Policies>
			        		<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			        		<SizeBasedTriggeringPolicy size="10 MB"/>
			        		<OnStartupTriggeringPolicy/>
			      		</Policies>
					</RollingFile>
				</Route>
			 	<Route ref="BlackHole" key="$${ctx:ThreadLogContext}"/>
			</Routes>
		</Routing> 

		<Routing name="AllThreadLogContextRouting">
			<Routes pattern="$${ctx:ThreadLogContext}">
  				<Route>
					<RollingFile name="Thread-${ctx:ThreadLogContext}" 
							fileName="C:/Personal/TestingZone/Logs/Thread/Thread-All.log" 
							filePattern="C:/Personal/TestingZone/Logs/$${date:yyyy-MM-dd-HH}/Thread/Thread-All-%d{yyyy-MM-dd-HH}-%i.log">
			    		<PatternLayout>
    				    		<Pattern>[%d{ISO8601}] %p [%t] [%X{TaskLogContext}] (%F:%L) %m%n</Pattern>
				      	</PatternLayout>
						<Policies>
			        		<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			        		<SizeBasedTriggeringPolicy size="10 MB"/>
			        		<OnStartupTriggeringPolicy/>
			      		</Policies>
					</RollingFile>
				</Route>
			 	<Route ref="BlackHole" key="$${ctx:ThreadLogContext}"/>
			</Routes>
		</Routing> 




		<Routing name="PoolItemLifecycleContextRouting">
			<Routes pattern="$${ctx:PoolItemLifecycle}">
  				<Route>
					<RollingFile name="PoolItemLifecycle-${ctx:PoolItemLifecycle}" 
							fileName="C:/Personal/TestingZone/Logs/PoolItemLifecycles/PoolItemLifecycle-${ctx:PoolItemLifecycle}.log" 
							filePattern="C:/Personal/TestingZone/Logs/$${date:yyyy-MM-dd-HH}/PoolItemLifecycles/PoolItemLifecycle-${ctx:PoolItemLifecycle}-%d{yyyy-MM-dd-HH}-%i.log">
			    		<PatternLayout>
    				    		<Pattern>[%d{ISO8601}] %p [%t] [%X{PoolItemLifecycle}] (%F:%L) %m%n</Pattern>
				      	</PatternLayout>
						<Policies>
			        		<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			        		<SizeBasedTriggeringPolicy size="10 MB"/>
			        		<OnStartupTriggeringPolicy/>
			      		</Policies>
					</RollingFile>
				</Route>
			 	<Route ref="BlackHole" key="$${ctx:PoolItemLifecycle}"/>
			</Routes>
		</Routing> 

		<Routing name="AllPoolItemLifecycleContextRouting">
			<Routes pattern="$${ctx:PoolItemLifecycle}">
				<Route>
					<RollingFile name="PoolItemLifecycle-${ctx:PoolItemLifecycle}" 
							fileName="C:/Personal/TestingZone/Logs/PoolItemLifecycles/PoolItemLifecycle-All.log" 
							filePattern="C:/Personal/TestingZone/Logs/$${date:yyyy-MM-dd-HH}/PoolItemLifecycles/PoolItemLifecycle-All-%d{yyyy-MM-dd-HH}-%i.log">
			    		<PatternLayout>
    				    		<Pattern>[%d{ISO8601}] %p [%t] [%X{PoolItemLifecycle}] (%F:%L) %m%n</Pattern>
				      	</PatternLayout>
						<Policies>
			        		<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			        		<SizeBasedTriggeringPolicy size="10 MB"/>
			        		<OnStartupTriggeringPolicy/>
			      		</Policies>
					</RollingFile>
				</Route>
			 	<Route ref="BlackHole" key="$${ctx:PoolItemLifecycle}"/>
			</Routes>
		</Routing> 

	
  		<Null name="BlackHole" />
   		
		<Console name="Console" target="SYSTEM_OUT">
           <PatternLayout pattern="[%d{ISO8601}] %p [%t] [%X{ClientSessionID}] %m           (%F:%L) (%C.%M)%n"/>
   		</Console>


    </Appenders>
    <Loggers>
     	<logger name="com.home.neil.appconfig" level="debug">
        	<AppenderRef ref="Console"/>
    	</logger>
    	
	   	<logger name="com.home.neil.appmanager" level="warn">
        	<AppenderRef ref="Console"/>
    	</logger>

	   	<logger name="com.home.neil.task" level="warn">
        	<AppenderRef ref="Console"/>
    	</logger>

	   	<logger name="com.home.neil.thread" level="warn">
        	<AppenderRef ref="Console"/>
    	</logger>

	   	<logger name="com.home.neil.pool" level="info">
        	<AppenderRef ref="Console"/>
        	<AppenderRef ref="Pool"/>
    	</logger>

	   	<logger name="com.home.neil.cachesegment" level="error">
        	<AppenderRef ref="Console"/>
    	</logger>

	   	<logger name="com.home.neil.cachesegment.threads.initialization" level="error">
        	<AppenderRef ref="Console"/>
    	</logger>

	   	<logger name="com.home.neil.lastaccessindex" level="error">
        	<AppenderRef ref="Console"/>
    	</logger>

	   	<logger name="com.home.neil.connectfour" level="info">
        	<AppenderRef ref="Console"/> 
    	</logger>

	   	<logger name="com.home.neil.connectfour.boardstate.logger" level="error">
        	<AppenderRef ref="Console"/> 
    	</logger>

	   	<logger name="com.home.neil.connectfour.boardstate.knowledgebase.fileindex.metadata" level="error">
        	<AppenderRef ref="Console"/> 
    	</logger>

	   	<logger name="com.home.neil.connectfour.boardstate.knowledgebase.fileindex.score" level="error">
        	<AppenderRef ref="Console"/> 
    	</logger>

		<!-- 
		
		<logger name="com.home.neil" level="debug">
		    <AppenderRef ref="Console"/>  
        	<AppenderRef ref="All"/>
        	<AppenderRef ref="ThreadLogContextRouting"/> 
        	<AppenderRef ref="AllThreadLogContextRouting"/> 
        	<AppenderRef ref="TaskLogContextRouting"/> 
        	<AppenderRef ref="AllTaskLogContextRouting"/> 
        	<AppenderRef ref="PoolItemLifecycleContextRouting"/> 
        	<AppenderRef ref="AllPoolItemLifecycleContextRouting"/> 
    	</logger>
    	-->
		<!-- 
		<logger name="com.home.neil" level="debug">
        	<AppenderRef ref="ContextRouting"/> 
    	</logger>
		-->

		<Root level="error">
			<!-- <AppenderRef ref="Console"/> -->
		</Root>
    </Loggers>
</Configuration>